---
title: Environmental Variables
pretty: true
---
doctype html
html(lang="en")
  head
    title= title
  body
    h1= title
    p This is the environmental variable "NODE_ENV":
    code
      pre= NODE_ENV
